<div class="ui center aligned grid sign-up-form">
  <div class="six wide column">
    <form class="ui large form" (ngSubmit)="signup()" #f="ngForm">
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <input id="email"
                 type="email"
                 placeholder="E-mail address"
                 required
                 name='email'
                 [(ngModel)]="signUpUser.email"
                 class="validate">
        </div>
      </div>

      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input id="password"
                 type="password"
                 placeholder="Password"
                 required
                 name='password'
                 [(ngModel)]="signUpUser.password"
                 class="validate">
        </div>
      </div>

      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input id="password_conformation"
                 type="password"
                 placeholder="Password confirmation"
                 required
                 name='password_confirmation'
                 [(ngModel)]="signUpUser.password_confirmation"
                 class="validate">
        </div>
      </div>

      <button type="submit"
              [disabled]="!(f.valid)"
              [ngClass]="{'disabled': !(f.valid)}"
              class="ui fluid large black submit button">
        Sign Up
      </button>
    </form>
    <div *ngIf="errors.length" class="ui error message">
      <div *ngFor="let error of errors">{{error}}</div>
    </div>
  </div>
</div>
