<div class="ui card centered">
  <div class="image">
    <img class="ui image" src="{{user?.avatar}}">
  </div>
  <div *ngIf="!isEditing" class="content">
    <a class="header">{{user?.getFullName()}}</a>
    <i class="right floated edit icon" (click)="isEditing = true"></i>
    <div class="meta">
      <span class="date">Joined in {{user?.createdAt | date: 'dd.MM.yyyy'}}</span>
    </div>
    <div class="description">
      Email: {{user?.email}}
    </div>
  </div>

  <div *ngIf="isEditing" class="content">
    <div class="ui form">
      <div class="two fields">
        <div class="field">
          <label for="firstName">First Name</label>
          <input id="firstName" type="text" value="{{user?.firstName}}">
        </div>
        <div class="field">
          <label for="lastName">Last Name</label>
          <input id="lastName" type="text" value="{{user?.lastName}}">
        </div>
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input id="email" type="text" value="{{user?.email}}">
      </div>

      <label for="file" class="ui icon button">
        <i class="file icon"></i>
        Change Avatar</label>
      <input type="file" id="file" style="display:none" (change)="onFileSelected($event)">
    </div>

    <button class="ui primary button" (click)="onUpload()">
      Save
    </button>
    <button class="ui button" (click)="isEditing = false">
      Cancel
    </button>
  </div>
</div>
