<div class="ui container">
  <div class="ui grid">
    <div class="row">
      <div class="sixteen wide column">
        <app-toolbar></app-toolbar>
      </div>
    </div>
    <div class="row">
      <div *ngIf="isLoggedIn()" class="three wide column">
        <app-side-menu></app-side-menu>
      </div>

      <div class="column" [ngClass]="{'thirteen wide':isLoggedIn()}">
        <div [ngClass]="{'ui raised segment':isLoggedIn()}" style="background-color: inherit">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
