<div class="ui segment">
  <sui-tabset>
    <div class="ui secondary pointing menu">
      <div class="right menu">
        <a class="item" suiTabHeader="1">Викладачі</a>
        <a class="item" suiTabHeader="2">Учні</a>
      </div>
    </div>
    <div class="ui grid" suiTabContent="1">
      <div class="six wide column">
        <app-chat-threads></app-chat-threads>
      </div>
      <div class="ten wide column">
        <app-chat-window></app-chat-window>
      </div>
    </div>
    <div class="ui segment" suiTabContent="2">Second tab!</div>
  </sui-tabset>
</div>
