<div class="ui left vertical menu">
  <a routerLinkActive="active" [routerLink]="['home']" class="item"><i class="home icon"></i>Дім</a>
  <a routerLinkActive="active" [routerLink]="['contacts']" class="item"><i class="book icon"></i>Контакти</a>
  <a routerLinkActive="active" [routerLink]="['lessons']" class="item"><i class="comments icon"></i>Мої заняття</a>
  <a routerLinkActive="active" [routerLink]="['posters']" class="item"><i class="tasks icon"></i>Мої оголошення</a>
  <a routerLinkActive="active" [routerLink]="['search']" class="item"><i class="search icon"></i>Пошук оголошень</a>
  <a routerLinkActive="active" [routerLink]="['settings']" class="item"><i class="settings icon"></i>Налаштування</a>
</div>
