<div class="ui top inverted menu">
  <a [routerLink]="['home']" class="header item">
    <img src="../../../../../assets/images/home-background.png">
    DeMentor
  </a>
  <div class="item">
    <div class="ui icon input">
      <input type="text" placeholder="Пошук..." size="35">
      <i class="search link icon"></i>
    </div>
  </div>
  <div class="right menu">
    <a [routerLink]="['about']" class="item"><i class="info icon"></i>Про нас</a>
    <a [routerLink]="['improve']" class="item" data-inverted="" data-tooltip="Маєте пропозиції? Напишіть нам про це!"
       data-position="bottom center"><i class="wizard icon"></i>Зробити нас кращими</a>
    <a *ngIf="!isLoggedIn()" [routerLink]="['signup']" class="item"><i class="address card outline icon"></i>Реєестрація</a>
    <a *ngIf="isLoggedIn()" [routerLink]="['profile']" class="item"><i class="user icon"></i>Профіль</a>
    <a *ngIf="!isLoggedIn()" [routerLink]="['login']" class="item"><i class="sign in icon"></i>Увійти</a>
    <a *ngIf="isLoggedIn()" (click)="logout()" class="item"><i class="sign out icon"></i>Вихід</a>
  </div>
</div>
