<div class="ui cards">
  <div class="ui card"
       *ngFor="let user of users">
    <div class="content">
      <a routerLink="/profile/{{user.id}}" class="header">{{user.getFullName()}}</a>
      <div class="meta">
        <span class="date">Joined in {{user.createdAt | date: 'dd.MM.yyyy'}}</span>
      </div>
      <div
        class="ui bottom attached button"
        (click)="onAddToChat(user.id)">
        <i class="add icon"></i>
        Add to Chats
      </div>
    </div>
  </div>
</div>
